// Open Sans
@font-face {
    font-family: "Open Sans";
    src: url("/public/assets/fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
}

// Heebo
@font-face {
    font-family: "Heebo";
    src: url("/public/assets/fonts/heebo/Heebo-Light.ttf") format("truetype");
}

// Staatliches
@font-face {
    font-family: "Staatliches";
    src: url("/public/assets/fonts/staatliches/Staatliches-Regular.ttf") format("truetype");
}

// Spiegel
@font-face {
    font-family: "Spiegel";
    src: url("/public/assets/fonts/spiegel/Spiegel.ttf") format("truetype");
}

// Bebas Neue
@font-face {
    font-family: "Bebas Neue";
    src: url("/public/assets/fonts/BebasNeue/BebasNeue-Regular.ttf") format("truetype");
}

// Roboto
@font-face {
    font-family: "Roboto";
    src: url("/public/assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}