@import './font-faces.scss';
@import './variables.scss';
@import './mixins.scss';

body {
    margin: 0;
    background: var(--background-color);
    min-height: 100vh;
    font-family: 'Roboto';
}

header {
    padding: var(--nav-padding-vertical) var(--page-inline-padding);
    box-sizing: border-box;

    nav {
        @include flex($justify-content: flex-start);

        height: var(--nav-height);
        box-sizing: border-box;

        #nav-app-title {
            display: inline-block;
            color: var(--primary-color);
            font-weight: bold;
            font-size: 2em;
            margin: 0 50px 0 0;
        }

        ul {
            @include flex($justify-content: flex-start, $align-items: stretch);

            margin: 0;
            padding: 0;
            list-style-type: none;
            flex: 1;
            height: 100%;

            li {
                @include flex;

                margin: 0;
                padding: 0 20px;
                position: relative;
                cursor: pointer;

                a {
                    color: var(--color-soft);
                }

                &::before {
                    --stroke-width: 50%;

                    content: '';
                    position: absolute;
                    left: calc(50% - var(--stroke-width) / 2);
                    bottom: 20%;
                    height: 2px;
                    width: 0;
                    transition: width .3s;
                    background: var(--primary-color);
                }

                &:hover {
                    &::before {
                        width: var(--stroke-width);
                    }
                }
            }
        }
    }
}

footer {
    @include flex($direction: column);

    height: 200px;
    background: var(--background-color-tint);

    .copyrights {
        color: var(--color-soft);
        font-family: 'Open Sans';
        font-size: .8em;
    }

    &.absolute-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;

        li {
            a {
                color: var(--color-soft);

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue';
    user-select: none;
    margin-inline: var(--page-inline-padding);
    text-align: center;

    &.primary {
        color: var(--primary-color);
    }
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.2em;
}

p {
    margin-inline: var(--page-inline-padding);
}

a {
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;

    &.button-fill {
        background: 0 0/400% 100%  linear-gradient(90deg, var(--primary-color), var(--primary-color-tint)) no-repeat;
        color: var(--primary-color-contrast);
        border-radius: 3em;
        display: inline-block;
        padding: 15px 25px;
        transition-duration: .2s;
        position: relative;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            background: transparent;
            transition-duration: .2s;
            width: 0;
            height: 0;
            z-index: 2;
            transform: translate(-50%, -50%);
        }

        &:hover {
            box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
            background-size: 100% 100%;

            &::before {
                //background: rgba(200, 200, 200, .1);
                width: 100%;
                height: 100%;
            }
        }
    }
}

ul, ol {
    li {
        margin: 15px 0;
    }
}

hr {
    color: var(--background-color-tint);
    width: 70%;
}

button {
    cursor: pointer;
    padding: 6px 15px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
    border-radius: 2em;
    transition-duration: .1s;

    &:disabled {
        filter: grayscale(1);
        cursor: default;
    }

    &:not(:disabled):hover {
        background: var(--primary-color);
        color: var(--primary-color-contrast);
    }
}

.box {
    background: var(--background-color-tint);
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
    margin: 15px;
    min-width: 250px;
    min-height: 250px;
}


.loader {
    width: 50px;
    height: 50px;
    position: relative;
    isolation: isolate;

    &::before {
        content: '';
        z-index: -1;
        border-radius: 100%;
        width: 50%;
        height: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: rotate 1s infinite linear;
        border: 4px solid var(--primary-color);
        border-left-color: transparent;
    }
}

@keyframes rotate {
    from { transform: translate(-50%, -50%) rotate(0); }
    to { transform: translate(-50%, -50%) rotate(360deg); }
}

.center {
    text-align: center;
}




.page-general-home {
    section {
        @include flex($align-items: flex-start);

        min-height: calc(100vh - var(--nav-height) - var(--nav-padding-vertical));
        isolation: isolate;
        box-sizing: border-box;

        &:nth-child(even) {
            align-items: center;
            background: var(--primary-color);
            color: var(--primary-color-contrast);
            box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.2);
            min-height: 50vh;

            a {
                color: var(--primary-color-contrast);

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &:nth-child(odd) {
            padding-top: 70px;
        }

        article {
            width: 50%;

            &:last-child {
                text-align: center;
            }

            &#app-slogan-article {
                width: calc(100% - var(--page-inline-padding));

                h1, h4 {
                    text-align: left;
                }
                
                #mobile-go-to-history {
                    display: none;
                }
            }

            &#home-illustration {
                position: absolute;
                top: 50%;
                right: var(--page-inline-padding);
                transform: translateY(-50%);
                z-index: -1;
            }

            a {
                margin-inline: var(--page-inline-padding);
            }
        }
    }
    
    #app-slogan {
        margin-bottom: 0;
    }

    #app-slogan-subtitle {
        margin-top: 10px;
        color: var(--color-soft-tint);
        font-family: 'Spiegel';
    }
}







.page-dev-video {
    @include flex;

    article[class^=webcam] {
        width: 800px;
        aspect-ratio: 1.77;
        border: none;
        display: block;
        margin: 50px auto;
        overflow: hidden;
        position: relative;

        img, video, canvas {
            width: 100%;
            height: 100%;
        }

        img {
            position: absolute;
            top: -1px;
            left: -1px;
            width: calc(100% + 2px);
            height: calc(100% + 2px);
        }
    }
}


.page-interview-create {
    #lobby-url {
        @include flex;
        
        span {
            background:rgba(0, 0, 0, .05);
            border-radius: 3px;
            border: 1px solid rgba(0, 0, 0, .05);
            display: inline-block;
            margin: 0 5px;
            padding: 2px 5px;
            color: var(--color-soft);
            font-size: .8em;
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        button {
            width: 77px;
            
            &.copied {
                --copied-color: rgb(112, 189, 112);
                
                border-color: var(--copied-color);
                color: var(--copied-color);

                &:hover {
                    background: var(--copied-color);
                    color: #fff;
                }
            }
        }
    }

    #launch-interview {
        font-size: 1.2em;
        display: block;
        width: 150px;
        margin: 20px auto;
    }

    .loader {
        margin: 0 auto;
        display: block;
    }
}

.page-interview-room {
    #room-not-started {
        .loader {
            margin: 0 auto;
        }
    }
}

.page-interview-lobby {
    #lobbies-research-container {
        form {
            @include flex($direction: column);

            input {
                margin: 40px auto;
                background: #fff;
                border: 1px solid #fff;
                border-radius: 4px;
                width: 500px;
                max-width: 98%;
                padding: 8px 12px;
                box-sizing: border-box;
                transition-duration: .2s;

                &::placeholder {
                    opacity: .2;
                }

                &.fail {
                    border-color: #d33;
                }
            }
            
            button {
                width: 300px;
                max-width: 98%;
            }
        }
    }
}


@media screen and (max-width: 1000px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2.3em;
    }

    h4 {
        font-size: 2em;
    }

    h5 {
        font-size: 1.5em;
    }

    h6 {
        font-size: 1.2em;
    }

    header {
        nav {
            ul {
                justify-content: center;

                li {
                    &:not(.useful) {
                        display: none;
                    }
                }
            }
        }
    }

    .page-general-home {
        section {
            article {
                &#app-slogan-article {
                    #mobile-go-to-history {
                        display: block;
                        margin-top: 150px;
                        margin-bottom: 20px;
                    }
                }

                &#home-illustration {
                    top: 40%;
                    right: 0;
                    transform: scale(.7);
                }
            }
        }
    }

    .page-dev-video {
        flex-direction: column;
        padding-bottom: 50px;

        article[class^=webcam] {
            margin: 10px 0;
        }
    }
}