@import './font-faces.scss';
@import './variables.scss';
@import './mixins.scss';

body {
    margin: 0;
    background: var(--background-color);
    min-height: 100vh;
    font-family: 'Roboto';
}

header {
    padding: var(--nav-padding-vertical) var(--page-inline-padding);
    box-sizing: border-box;

    nav {
        @include flex($justify-content: flex-start);

        height: var(--nav-height);
        box-sizing: border-box;

        #nav-app-title {
            display: inline-block;
            color: var(--primary-color);
            font-weight: bold;
            font-size: 2em;
            margin: 0 50px 0 0;
        }

        ul {
            @include flex($justify-content: flex-start, $align-items: stretch);

            margin: 0;
            padding: 0;
            list-style-type: none;
            flex: 1;
            height: 100%;

            li {
                @include flex;

                margin: 0;
                padding: 0 20px;
                position: relative;
                cursor: pointer;

                a {
                    color: var(--color-soft);
                }

                &::before {
                    --stroke-width: 50%;

                    content: '';
                    position: absolute;
                    left: calc(50% - var(--stroke-width) / 2);
                    bottom: 20%;
                    height: 2px;
                    width: 0;
                    transition: width .3s;
                    background: var(--primary-color);
                }

                &:hover {
                    &::before {
                        width: var(--stroke-width);
                    }
                }
            }
        }
    }
}

footer {
    @include flex($direction: column);

    height: 200px;
    background: var(--background-color-tint);

    .copyrights {
        color: var(--color-soft);
        font-family: 'Open Sans';
        font-size: .8em;
    }

    &.absolute-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;

        li {
            a {
                color: var(--color-soft-tint);
                font-family: 'Spiegel';

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue';
    user-select: none;
    margin-inline: var(--page-inline-padding);
    text-align: center;

    &.primary {
        color: var(--primary-color);
    }
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.2em;
}

.page-subtitle {
    margin-top: 0;
    font-size: .8em;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Open Sans';
}

p {
    margin-inline: var(--page-inline-padding);
}

a {
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;

    &.button-fill {
        background: 0 0/400% 100%  linear-gradient(90deg, var(--primary-color), var(--primary-color-tint)) no-repeat;
        color: var(--primary-color-contrast);
        border-radius: 3em;
        display: inline-block;
        padding: 15px 25px;
        transition-duration: .2s;
        position: relative;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            background: transparent;
            transition-duration: .2s;
            width: 0;
            height: 0;
            z-index: 2;
            transform: translate(-50%, -50%);
        }

        &:hover {
            box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
            background-size: 100% 100%;

            &::before {
                //background: rgba(200, 200, 200, .1);
                width: 100%;
                height: 100%;
            }
        }
    }
}

ul, ol {
    li {
        margin: 15px 0;
    }
}

hr {
    color: var(--background-color-tint);
    width: 70%;
}

button {
    cursor: pointer;
    padding: 6px 15px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
    border-radius: 2em;
    transition-duration: .1s;

    &:disabled {
        filter: grayscale(1);
        cursor: default;
    }

    &:not(:disabled):hover {
        background: var(--primary-color);
        color: var(--primary-color-contrast);
    }
}

.box {
    background: var(--background-color-tint);
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
    margin: 15px;
    min-width: 250px;
    min-height: 250px;
}


.loader {
    width: 50px;
    height: 50px;
    position: relative;
    isolation: isolate;

    &::before {
        content: '';
        z-index: -1;
        border-radius: 100%;
        width: 50%;
        height: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: rotate 1s infinite linear;
        border: 4px solid var(--primary-color);
        border-left-color: transparent;
    }
}

.hidden {
    display: none;
}

@keyframes rotate {
    from { transform: translate(-50%, -50%) rotate(0); }
    to { transform: translate(-50%, -50%) rotate(360deg); }
}

.center {
    text-align: center;
}




.page-general-home {
    section {
        @include flex($align-items: flex-start);

        min-height: calc(100vh - var(--nav-height) - var(--nav-padding-vertical));
        isolation: isolate;
        box-sizing: border-box;

        &:nth-child(even) {
            align-items: center;
            background: var(--primary-color);
            color: var(--primary-color-contrast);
            box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.2);
            min-height: 50vh;

            a {
                color: var(--primary-color-contrast);

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &:nth-child(odd) {
            padding-top: 70px;
        }

        article {
            width: 50%;

            &:last-child {
                text-align: center;
            }

            &#app-slogan-article {
                width: calc(100% - var(--page-inline-padding));

                h1, h4 {
                    text-align: left;
                }
                
                #mobile-go-to-history {
                    display: none;
                }
            }

            &#home-illustration {
                position: absolute;
                top: 50%;
                right: var(--page-inline-padding);
                transform: translateY(-50%);
                z-index: -1;
            }

            a {
                margin-inline: var(--page-inline-padding);
            }
        }
    }
    
    #app-slogan {
        margin-bottom: 0;
    }

    #app-slogan-subtitle {
        margin-top: 10px;
        color: var(--color-soft-tint);
        font-family: 'Spiegel';
    }
}


.page-interview-create {
    form {
        @include flex;

        button {
            height: 40px;
            border-radius: 6px;
            margin: 0 20px;
            padding-inline: 25px;
            text-transform: uppercase;
        }

        input {
            border: none;
            border-radius: 6px;
            height: 40px;
            padding: 3px 15px;
            width: 200px;
            outline: none;
        }
    }

    #list-header {
        @include flex;

        background: var(--background-color-tint);
        border-radius: 6px;
        margin: 50px auto 10px auto;
        width: 800px;
        height: 40px;
        padding: 0 20px;
        box-sizing: border-box;

        > div {
            text-align: center;
            font-family: 'Spiegel';
            color: var(--color-soft-tint);
            user-select: none;

            &:not(:last-of-type) {
                border-right: 1px solid rgba(0, 0, 0, .2);
            }

            &:nth-of-type(1) {
                width: 250px;
            }

            &:nth-of-type(2) {
                width: 190px;
            }

            &:nth-of-type(3) {
                width: 100px;
            }

            &:nth-of-type(4) {
                width: 140px;
            }

            &:last-of-type {
                flex: 1;
            }
        }
    }

    .list-container {
        margin-top: 0;
    }
}

.page-interview-room {
    @include flex($direction: column, $justify-content: flex-start);

    height: calc(100vh - var(--nav-height) - var(--nav-padding-vertical) * 2);
    position: relative;

    h1 {
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 50px;
    }

    #user-camera {
        position: absolute;
        border-radius: 6px;
        width: 300px;
        aspect-ratio: 16/9;
        right: 50px;
        bottom: 50px;
        background:rgba(0, 0, 0, .05);
        box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
    }

    #quizz-container {
        @include flex($align-items: stretch);

        flex: 1;
        width: 70%;
        padding-inline: var(--page-inline-padding);
        box-sizing: border-box;
        margin-top: 20px;

        > section {
            width: 50%;
        }

        #results-message {
            text-align: center;
            margin: 100px auto;
            color: var(--color-soft);
            font-size: 1.5em;
            user-select: none;
        }

        #left-side {
            @include flex($direction: column, $wrap: wrap, $justify-content: flex-start, $align-items: flex-start);

            width: 80%;
            border: 4px solid var(--background-color-tint);
            margin-bottom: 20px;
            box-sizing: border-box;
            border-radius: 6px;

            #question {
                font-family: 'Roboto';
                background: var(--background-color-tint);
                display: inline-block;
                margin: 0;
                border-radius: 0 0 6px 0;
                padding: 8px 15px;
            }

            #answers-container {
                @include flex($direction: column);

                flex: 1;
                align-self: center;
                width: 95%;

                #answer-pool {
                    @include flex($wrap: wrap);

                    flex: 1;
                    position: relative;
                    padding: 20px;

                    p {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                        margin: 0;
                        user-select: none;
                    }

                    label {
                        @include flex($justify-content: flex-start);

                        min-width: 250px;
                        user-select: none;
                        cursor: pointer;

                        &:hover {
                            input {
                                border-color: var(--primary-color);
                            }
                        }
                    }

                    input {
                        --size: 30px;

                        display: inline-block;
                        margin-right: 15px;
                        appearance: none;
                        width: var(--size);
                        height: var(--size);
                        border-radius: 4px;
                        background: var(--background-color-tint);
                        border: 1px solid rgba(0, 0, 0, .1);
                        position: relative;
                        cursor: pointer;
                        transition-duration: .1s;

                        &::after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transition-duration: .1s;
                        }

                        &[type="radio"] {
                            border-radius: 100%;

                            &::after {
                                width: 130%;
                                height: 130%;
                                border: 1px solid transparent;
                                transform: translate(-50%, -50%);
                                border-radius: 100%;
                            }
                        }

                        &[type="checkbox"] {
                            &::after {
                                width: 15%;
                                height: 50%;
                                border-bottom: 3px solid transparent;
                                border-right: 3px solid transparent;
                                transform: translate(-50%, -55%) rotate(45deg);
                            }
                        }

                        &:checked {
                            background: var(--primary-color);
                            border-color: var(--primary-color);

                            &[type="radio"] {
                                &::after {
                                    border-color: var(--primary-color);
                                }
                            }

                            &[type="checkbox"] {
                                &::after {
                                    border-color: var(--primary-color-contrast);
                                }
                            }
                        }
                    }
                }

                #confirm-container {
                    margin-bottom: 20px;
                    width: 65%;

                    button {
                        display: block;
                        background: var(--primary-color);
                        border-radius: 6px;
                        padding-left: 50px;
                        width: 100%;
                        height: 50px;
                        color: var(--primary-color-contrast);
                        font-weight: bold;
                        position: relative;
                        border: none;
                        transition-duration: .2s;
                        overflow: hidden;

                        &::before {
                            content: '';
                            position: absolute;
                            z-index: 1;
                            top: 50%;
                            left: 50%;
                            transform: translate(-60px, -50%);
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 10px 0 10px 22px;
                            border-color: transparent transparent transparent #fff;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 0;
                            background: rgba(255, 255, 255, 0.05);
                            z-index: 2;
                            transition-duration: 2s;
                            transition-timing-function: linear;
                        }

                        &:not(:disabled):hover {
                            filter: brightness(90%);

                            &::after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        #right-side {
            @include flex($direction: column);

            margin-bottom: 20px;
            flex: 1;
            padding-left: 20px;

            #timer {
                --size: 250px;

                width: var(--size);
                height: var(--size);

                canvas {
                    width: 100%;
                    height: 100%;
                }
            }

            #question-count {
                @include flex($direction: column);

                height: 100px;
                margin-top: 20px;

                p {
                    margin: 0;

                    &:first-child {
                        font-weight: bold;
                        font-size: 2em;
                        margin-bottom: 10px;
                    }

                    &:last-child {
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}

.page-interview-lobby {
    #lobbies-research-container {
        form {
            @include flex($direction: column);

            input {
                margin: 40px auto;
                background: #fff;
                border: 1px solid #fff;
                border-radius: 4px;
                width: 500px;
                max-width: 98%;
                padding: 8px 12px;
                box-sizing: border-box;
                transition-duration: .2s;

                &::placeholder {
                    opacity: .2;
                }

                &.fail {
                    border-color: #d33;
                }
            }
            
            button {
                width: 300px;
                max-width: 98%;
            }
        }
    }
}



.page-general-profile {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    h1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        margin: 50px 0;
        z-index: 30;
    }

    form {
        @include flex($align-items: stretch);

        width: 100%;
        height: 100%;

        article {
            @include flex;

            width: 50%;
            position: relative;
            isolation: isolate;
            cursor: pointer;
            transition-duration: .2s;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                width: 65%;
                height: 65%;
                z-index: -1;
                background: center/contain no-repeat;
                filter: grayscale(1);
                transition-duration: .4s;
                transition-timing-function: ease-out;
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 10;
                border: 0 solid transparent;
                transition-duration: .2s;
            }
            
            &#type-recruiter-container {
                justify-content: flex-end;

                &::before {
                    left: 0;
                    background-image: url('/public/assets/images/recruiter.png');
                }

                border-right: 1px solid #ccc;
            }

            &#type-applicant-container {
                justify-content: flex-start;

                &::before {
                    right: 0;
                    background-image: url('/public/assets/images/applicant.png');
                }
            }

            &:hover, &.selected {
                background:rgba(0, 0, 0, .05);

                &::before {
                    transform: scale(1.4);
                    filter: grayscale(0);
                }

                label {
                    opacity: 1;
                }
            }

            &.selected {
                &::after {
                    border: 5px solid var(--primary-color);
                    background: rgba(var(--primary-color-rgb), .05);
                }
            }

            label {
                margin: 0 20px;
                font-family: 'Bebas Neue';
                font-size: 2em;
                color: var(--color-soft);
                opacity: .5;
                transition-duration: .2s;
            }
        }

        button {
            position: absolute;
            bottom: 20px;
            right: 20px;
            padding: 15px 35px;
        }
    }
}


.page-interview-history {
    .list-container {
        article {
            &:hover {
                box-shadow: -3px 0 5px rgba(0, 0, 0, .1);
                border-color: var(--primary-color);
                transform: translateX(5px);

                &::after {
                    content: 'View details >';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translate(110%, -50%);
                    color: var(--primary-color);
                }
            }

            > div {
                flex: 1;
            }
        }
    }
}


.list-container {
    @include flex($direction: column, $align-items: flex-start);

    width: 800px;
    max-width: 98vw;
    margin: 50px auto;

    > p {
        margin-top: 100px;
        color: var(--color-soft-tint);
        user-select: none;
        text-align: center;
        width: 100%;
        margin-inline: 0;
    }

    article {
        @include flex;

        background: var(--background-color-tint);
        border-radius: 6px;
        width: 100%;
        height: 60px;
        padding: 10px 25px;
        box-sizing: border-box;
        margin: 10px auto;
        user-select: none;
        transition-duration: .2s;
        position: relative;
        isolation: isolate;
        border: 1px solid transparent;

        a {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
        }

        > div {
            @include flex($justify-content: flex-end);

            &.job-name {
                flex-direction: column;
                align-items: flex-start;
                text-align: left;
                padding-right: 30px;
                width: 300px;

                span {
                    &:first-child {
                        font-family: 'Staatliches';
                    }

                    &:last-child {
                        font-size: .7em;
                        color: var(--color-soft-tint);
                        margin-top: 3px;
                    }
                }
            }

            &.applicant-count {
                justify-content: flex-start;
                font-family: 'Spiegel';
                width: 200px;
            }

            &.applicant-done {
                justify-content: flex-start;
                text-align: left;
                font-family: 'Spiegel';
                width: 50px;
            }

            &.job-creation {
                width: 150px;
            }

            &.action {
                width: 100px;
                justify-content: flex-end;

                button {
                    border-radius: 6px;
                    position: relative;
                    text-transform: uppercase;
                }
                
                span {
                    font-family: 'Spiegel';
                    color: var(--color-soft-tint);
                }
            }
        }
    }
}



.page-interview-results {
    h1 {
        margin-bottom: 0;
    }
}


@media screen and (max-width: 1000px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2.3em;
    }

    h4 {
        font-size: 2em;
    }

    h5 {
        font-size: 1.5em;
    }

    h6 {
        font-size: 1.2em;
    }

    header {
        nav {
            ul {
                justify-content: center;

                li {
                    &:not(.useful) {
                        display: none;
                    }
                }
            }
        }
    }

    .page-general-home {
        section {
            article {
                &#app-slogan-article {
                    #mobile-go-to-history {
                        display: block;
                        margin-top: 150px;
                        margin-bottom: 20px;
                    }
                }

                &#home-illustration {
                    top: 40%;
                    right: 0;
                    transform: scale(.7);
                }
            }
        }
    }
}