<footer id="main-footer">
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <p class="copyrights">Authors &copy; <%=new Date().getFullYear()%></p>
</footer>