<header id="main-header">
    <nav>
        <span id="nav-app-title"><a href="/">HireMe</a></span>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/interview/history">Interviews history</a></li>
        </ul>

        <a id="demo-link" class="button-fill" href="/interview/create">Start an interview</a>
    </nav>
</header>