<header id="main-header">
    <nav>
        <span id="nav-app-title">HireMe</span>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact</a></li>
        </ul>

        <a id="demo-link" class="button-fill" href="/video">Request a demo</a>
    </nav>
</header>