<section>
    <article id="app-slogan-article">
        <h1 id="app-slogan">Your next hire is<br>
        just a click<br>
        away</h1>
        <h4 id="app-slogan-subtitle">Interviews Made Easy</h4>
<% if(role === 'recruiter') { %>
        <a href="/interview/create" class="button-fill">Create a job interview</a>
<% } else { %>
        <a href="/interview/lobbies" class="button-fill">Find a job</a>
<% } %>
            
    </article>

    <article id="home-illustration">
        <img src="/public/assets/images/interview.png" width="500"/>
    </article>
</section>

<script src="/public/js/home.mjs" type="module"></script>