<h1>Tell us who you are</h1>
<form>
    <article id="type-recruiter-container" data-value="0">
        <label>Recruiter</label>
    </article>
    <article id="type-applicant-container" data-value="1">
        <label>Applicant</label>
    </article>

    <button>Confirm</button>
</form>

<script src="/public/js/profile.mjs" type="module"></script>