<h1>Interview Creation</h1>

<!-- Recruiter only -->
<!-- It's here you create a new interview with maybe some options -->
<!-- Then you click on a button to confirm -->
<!-- It creates it on server side, then it redirects you on interview process page, which waits until a candidate appears -->
<!-- If you're the recruiter, then you are "live spectating" as a guy behind his cameras -->
<!-- If you're the candidate, then you can have a generated link shared by the recruiter -->
<!-- Going on, you enter the quizz -->

<!-- TODO : ML_44_i & Putra -->