<h1>Loading data...</h1>
<h2 class="page-subtitle">Interview Results</h2>

<section id="date">
    <p id="interview-end-date"></p>
</section>
<section id="results-list"></section>
<div id="hover" class="hidden"></div>

<script src="/public/js/interview/results.mjs" type="module"></script>