<% if(typeof room !== 'undefined') { %>

<h1><%=room.name%></h1>
<h2 class="page-subtitle">live interview</h2>

<% if(typeof alreadyDone === 'boolean' && alreadyDone) { %>

<p>You already have done your interview for this job.</p>

<% } else if(room.ended) { %>

<p>The interview has ended.</p>

<% } else { %>

<div id="quizz-container">
    <section id="left-side">
        <h3 id="question"></h3>
        <section id="answers-container">
            <article id="answer-pool">
                <p>Loading...</p>
            </article>
            <article id="confirm-container">
                <button>Next question</button>
            </article>
        </section>
    </section>
    <section id="right-side">
        <div id="timer"></div>
        <div id="question-count">
            <p>Question</p>
            <p>
                <span>0</span>
                /
                <span>0</span>
            </p>
        </div>
    </section>
</div>

<script src="/public/js/interview/room.mjs" type="module"></script>
<% } %>

<% } %>