<section>
    <article>
        <h1 id="app-slogan">Your next hire is<br>
        just a click<br>
        away</h1>
        <h4 id="app-slogan-subtitle">Interviews Made Easy</h4>
        <a href="#" class="button-fill">Subscribe now for 7 days trial</a>
    </article>

    <article>
        <img src="/public/assets/images/happy-stream.png"/>
    </article>
</section>

<script src="/public/js/home.mjs" type="module"></script>